<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/img/zapatos-portada-i.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block text-start">
          <h1 class="fw-bold">Tus productos al alcance de un click</h1>
          <p>Registrate y dale un vistazo a nuestras categorias</p>
        </div>
      </div>
      
      <div class="carousel-item" data-bs-interval="10000">
        <img src="/img/zapatos-portada-ii.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block text-end">
          <h1 class="fw-bold">Comienza a estrenar hoy</h1>
          <p>Calidad y buen precio solo en CLICK STORE</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/img/zapatos-portada-iii.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block text-start">
          <h1 class="fw-bold">Registrate y busca el calzado de tus sueños</h1>
          <p>Moda y clase solo la encontraras en CLICK STORE</p>
        </div>
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>